@import "../../General.scss";

.input {
  padding: 0.5rem 0;

  input {
    font-size: large;
    padding: 0.5em;
    border: 1px solid $neutral-light;
    border-radius: 8px;
    width: 100%;
    margin-top: 0.5rem;

    &::placeholder {
      color: $neutral-dark;
    }

    &:focus {
      border-color: $gradient-one;
      outline: 0;
    }

    @include inputFieldLabel;
  }

  &.date-inputfields.error,
  &.error {
    @include errorBorder;
  }
}

p.errorMsg {
  color: $primary-red;
  font-size: small;
}

.date-inputfields {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 10px;
  width: 100%;
  align-items: flex-end;

  p,
  label {
    width: 100%;
    grid-column: span 2;
  }
}
