@import "../../General.scss";

.button {
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  background-color: $neutral-very-dark;
  margin-top: 2rem;
  border: 0;
  color: $white;
  font-size: large;
  width: 100%;
  letter-spacing: 0.1em;

  &:hover {
    background: linear-gradient(0deg, $gradient-one 0%, $gradient-two 100%);
    cursor: pointer;
  }

  .label {
    color: $white;
  }
}
