@import "../../General.scss";

.button {
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  background-color: $neutral-very-dark;
  margin-top: 2rem;
  border: 0;
  color: $white;
  font-size: large;
  width: 100%;
  letter-spacing: 0.1em;

  &:hover {
    @extend .gradient-background;
  }

  .label {
    color: $white;
  }
}
