@import "../../General.scss";

.cards {
  position: absolute;
  top: 2rem;
  margin-right: auto;
  margin-left: auto;
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  color: $white;
  height: 1px; // so the div doesn't overlap with the form, making it inaccessible

  @media (min-width: 480px) {
    top: 3rem;
  }
  .card-front {
    @include card("./images/bg-card-front.png");
    position: relative;
    top: -3.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      height: 60%;
    }

    .lower-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .card-back {
    @include card("./images/bg-card-back.png");
    align-self: flex-end;
    position: relative;

    .pin {
      position: absolute;
      top: 43%;
      left: 75%;
    }
  }
}
