@import "../../General.scss";

.cards {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  height: 1px; // so the div doesn't overlap with the form, making it inaccessible
  top: 2rem;
  left: 1rem;
  right: 1rem;
  color: $white;

  @media (min-width: 480px) {
    top: 3rem;
  }

  @media (min-width: 600px) {
    justify-content: space-between;
    width: 20rem;
    height: 100%;
    margin: 0 auto 0 3rem;
    padding: 5.5rem 0;
    top: 0;
  }

  .card-front {
    @include card("./images/bg-card-front.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 1.5rem;
    top: -3.5rem;
    order: 1;

    p {
      color: $white;
    }

    @media (min-width: 600px) {
      width: 80%;
      top: 0;
      order: 0;
    }

    img {
      height: 60%;
    }

    .lower-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-transform: uppercase;

      .name {
        margin-right: 10px;
        overflow: hidden;
      }

      p {
        font-size: x-small;
        color: $neutral-light;
      }
    }
  }

  .card-back {
    @include card("./images/bg-card-back.png");
    position: relative;
    align-self: flex-end;
    order: 0;

    @media (min-width: 600px) {
      width: 80%;
      order: 1;
    }

    .pin {
      position: absolute;
      top: 44%;
      left: 77%;
      font-size: small;
    }
  }
}
