@import "../../General.scss";

.date-input-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem 0;
  margin-right: 10px;
  width: 50%;
  flex-shrink: 0;
  height: 7em;

  @include inputFieldLabel;

  .date-input-containter {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10px;
    width: 100%;

    & .error {
      @include errorBorder;
    }
  }
}

.errorMsg {
  color: $primary-red;
}
